.profileComponent {
  left: 0;
  top: 0;
  bottom: 100%;
  right: 100%;
  position: fixed;
  width: 100%;
  height: 40%;
  background-image: url("../../assets/image/background-1.jpg");
  background-size: cover;
  z-index: -1;
}

.paper {
  margin: 15% 5% 50% 5%;
  padding-bottom: 50%;
  width: 90%;
  height: 60%;
  border-radius: 5px;
  display: inline-block;
}

.editBtn {
  width: 50px !important;
  height: 50px !important;
}

.editBtnPosition  {
  position: relative;
  z-index: 1;
  margin: -100px 25% 3% 75%;
  color: red !important;
}

.avatarAndButton {
  position: relative;
  display: block;
  justify-content: center;
  z-index: 0;
}

.avatar {
  display: inline-flex;
  margin: -75px auto 0 auto;
  justify-content: center;
  width: 150px !important;
  height: 150px !important;
  position: relative;
  z-index: 1;
}

.friendAvatar {
  display: flex;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
}

.list {
  width: 40%;
  padding-right: auto;
  padding-left: auto;
  justify-content: center;
  text-align: center;
}

.listAvatar {
  display: flex;
  flex-direction: row;
}

.infoTxt {
  display: block;
  height: 40%;
  padding-top: 3%;
  text-align: center;
  justify-content: center;
  width: 70%;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}

.infoTxtName {
  font-weight: bold;
  margin-bottom: 1%;
  color: #000032;
  font-family: Blippo, fantasy;
  font-size: 50px;
  display: block;
}

.infoTxtMail {
  font-weight: bold;
  margin-bottom: 1%;
  color: #000032;
  font-family: Blippo, fantasy;
  font-size: 30px;
  display: block;
}

.infoTxtLangue {
  font-weight: bold;
  margin-bottom: 1%;
  color: #000032;
  font-family: Blippo, fantasy;
  font-size: 20px;
  display: block;
}

.validateBtn {
  justify-content: center;
  font-weight: bold;
}
