@media (max-width: 600px) {
  .avatar {
    display: inline-flex;
    justify-content: center;
    width: 150px !important;
    height: 150px !important;
    position: relative;
    z-index: 1;
  }

  .displayFlex {
    display: flex;
    padding: 16px;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .avatar {
    display: inline-flex;
    margin: -75px auto 0 auto;
    justify-content: center;
    width: 150px !important;
    height: 150px !important;
    position: relative;
    z-index: 1;
  }

  .displayFlex {
    display: flex;
  }
}

.hoverAvatar {
  cursor: pointer;
  padding: 8px;
}

.friendAvatar {
  display: flex;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
  width: 50px !important;
  height: 50px !important;
}
